.section-games {
  margin-bottom: 74px;

  @media all and (max-width: 425px) {
    margin-bottom: 30px;
  }
}

.games {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;

  &-up {
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 36px;
      font-weight: 700;
      line-height: 43.85px;
      text-align: left;
      color: white;
    }

    &-subtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.49px;
        text-align: center;
        color: white;
      }

      a {
        font-size: 16px;
        font-weight: 600;
        line-height: 19.49px;
        text-align: left;
        color: white;

        &:hover {
          color: rgba(72, 112, 255, 1);
          transition: color 0.3s;
        }
      }

      @media all and (max-width: 425px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &-cards {
    display: flex;
    gap: 16px;
    justify-content: space-between;

    @media all and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    &-small {
      flex: 1 1 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      &-item {
        cursor: pointer;
        flex: 1 1 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;

        @media all and (max-width: 768px) {
          align-items: center;
        }

        img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 160px;
          height: 120px;
        }

        &-text {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          &-name {
            font-size: 16px;
            font-weight: 700;
            line-height: 19.49px;
            text-align: left;
            color: white;
          }

          &-corp {
            font-size: 12px;
            font-weight: 300;
            line-height: 14.62px;
            text-align: left;
            color: white;
            opacity: 50%;
          }
        }

        &:hover {
          .games-cards-small-item-text-name {
            color: rgba(72, 112, 255, 1);
            transition: color 0.3s;
          }
        }
      }
    }

    &-big {
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-short {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        &-item {
          padding: 16px 12px;
          display: flex;
          flex-direction: column;
          gap: 16px;
          flex: 1 1 50%;
          max-height: 160px;
          max-width: 248px;

          &:nth-child(1) {
            background: url(/src/assets/images/short-gametype1.png);
          }

          &:nth-child(2) {
            background: url(/src/assets/images/short-gametype2.png);
          }

          &-text {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &-name {
              font-size: 16px;
              font-weight: 700;
              line-height: 19.49px;
              text-align: left;
              color: white;
              max-width: 175px;
            }

            &-desc {
              font-size: 10px;
              font-weight: 400;
              line-height: 12.18px;
              text-align: left;
              color: white;
              max-width: 162px;
            }
          }

          &-btn {
            max-width: 70px;
          }
        }

        @media all and (max-width: 580px) {
          flex-direction: column;
          align-items: center;

          &-item{
            width: 100%;
          }
        }
      }

      &-item {
        display: flex;
        flex-direction: column;
        gap: 6px;

        img {
          max-height: 120px;
          max-width: 100%;
        }

        &-info {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            &-name {
              font-size: 16px;
              font-weight: 700;
              line-height: 19.49px;
              text-align: left;
              color: white;
            }

            &-desc {
              font-size: 12px;
              font-weight: 300;
              line-height: 14.62px;
              text-align: left;
              color: white;
              opacity: 50%;
            }
          }
        }
      }
    }
  }

  &-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: white;
    max-width: 655px;
  }
}