.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.92px;
  text-align: left;
  background: none;
  color: white;
  border: none;
  cursor: pointer;

  &-gradient {
    background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
    box-shadow: 0 4px 16px 0 rgba(138, 97, 255, 0.6);
    border-radius: 8px;
    padding: 9px 32px;

    &:hover {
      opacity: 75%;
      transition: all 0.3s;
    }
  }

  &-none {
    border-radius: 8px;
    padding: 7px 30px;
    border: 2px solid rgba(255, 255, 255, 1);

    &:hover {
      background: white;
      color: black;
      transition: all 0.6s;
    }
  }

  &-small {
    font-size: 10px;
    font-weight: 600;
    line-height: 12.18px;
    text-align: left;
    padding: 5px 14px;
    background: rgba(72, 112, 255, 1);
    border-radius: 12px;

    &:hover {
      opacity: 75%;
      transition: all 0.3s;
    }
  }
}

.input-form {
  border-radius: 8px;
  border: none;
  flex: 1;
  padding: 13px;

  &::placeholder {
    text-transform: capitalize;
  }
}

.input-form-privacy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  input {
    cursor: pointer;
    border-radius: 2px;
    width: 14px;
    height: 14px;
  }

  label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: center;
    color: white;
  }
}